{% extends "global/base.html" %}

{% block content %}
<div class="single-contact">
    <h1 class='single-contact-name'>
        {{ contact.first_name }} {{ contact.last_name }}
    </h1>
    <p>
        <b>ID: {{ contact.id }}</b>
        <br>
        <b>E-mail: {{ contact.email }}</b>
        <br>
        <b>Phone: {{ contact.phone }}</b>
        <br>
        <b>Created Date: {{ contact.create_date }}</b>
        <br>
        <b>Description: {{ contact.description }}</b>
        <br>
        <b>Category: {{ contact.category.name }}</b>
    </p>
</div>
{% endblock content %}